
<div class="d-flex justify-content-between align-items-center">
  <h1>Edit Contact</h1>
  <%= link_to 'Back', :back, class:"btn btn-outline-primary" %>
</div>

<%= render "form", contact: @contact, action_type: "edit" %>

<%= button_to "Delete", contact_path(@contact), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-danger mt-4" %>