/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .btn-indigo {
  white-space: nowrap;
  border-radius: .25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(86 97 179 / var(--tw-bg-opacity, 1)); /* Original background color */
  padding: .75rem 1.5rem;
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
  text-decoration: none; /* Removes the underline */
}

/* Hover effect */
.btn-indigo:hover {
  background-color: rgb(255, 136, 0);
  transition: background-color 0.1s ease; 
}
