
<div class="d-flex justify-content-between align-items-center">
  <h1>Edit Organizations</h1>
  <%= link_to 'Back', :back, class:"btn btn-outline-primary" %>
</div>

<%= render "form", organization: @organization, action_type: "edit"%>

<%= button_to "Delete", @organization, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-danger mt-4" %>
